/*XS*/
@media (max-width: 767px) {
	html {
		font-size: 110%;
	}
	header {
		margin-bottom: 0;
	}
	.btn-block {
	    white-space: initial;
		background-size: initial;
	}
	.typeset ul li, .typeset ol li {
		margin-left: 0;
	}
	.hero {
		h1, h2 {
			font-size: 2rem; line-height: 2.5rem;
		}
	}
	.home {
		.hero {
			height: 500px; display: initial;
		}
		.services {
			margin-top: 0;
		}
	}
	.row.is-flex, .row.flex-vertical {
		display: initial;
	}
	.row.is-flex > [class*='col-'] {
		display: initial;
	}
	.navbar-collapse {
		position: relative; z-index: 1;
		background-color: $turquoise;
		border: 0;
	}
	.navbar .navbar-brand {
		padding: 0.5rem 1rem 0;
		max-width: 350px;
	}
	.navbar .navbar-nav {
	    margin-top: 0;
	    margin-bottom: 0;
	    padding: 0;
	    li {
			a {
				border: 0; display: block;
				color: $deepBlue; padding: 1rem;
				&:hover, &:focus {
					color: $deepBlue;
					background-color: #8ffde4;
				}
			}
		}
	}
	.typeset .our-experts {
		.block-link { margin-top: 1rem; 
			font-size: 1.75rem; 
			border-bottom: none; 
			text-decoration: none; 
			background: $turquoise; 
			padding: 1rem 2rem; border-radius: 4px;  color: white; text-shadow: 1px 1px darken($turquoise, 50%); border: 1px solid darken($turquoise, 30%); max-width: 90%; margin: 0 auto;
			&:hover { background:darken($turquoise, 30%); }

			}
		.text-box.green-box {
		margin-right: 0;
				}
	}
	.typeset .what-change ul.checkboxes li {
		width: auto; display: block;
	}
	
	.footer-cta {
		text-align: center;
		height: auto; padding: 1rem 0;
		.push-up {
		    max-width: 60px; margin: 0 auto;
		}
		.text-wrap {
			padding: 0;
		}
	}
	footer {
		text-align: center;
		.logo {
			margin: 2rem auto 3rem;
		}
	}
	.typeset footer {
		padding-top: 1rem;
		ul.footer-menu li, h3 {
			margin: 0;
		}
		h3 {
			margin-bottom: 1rem;
		}
		.logo img {
			margin: 1rem auto;
		}
		#terms .terms-links {
			margin: 0 auto;
		}
	}
	.service-intro {
		margin-top: 1rem;
		.left-col .changes ul li {
			width: auto; font-size: 1.1rem;
		}
	}
	.typeset .page-header {
		padding: 1rem 0; padding-top: 1rem; text-align: center;
		.state-title, .inner-page-title{
			margin: 0; padding: 0; display: block;
		}
		.state-title {
			font-size: 2rem; line-height: 2rem; margin-bottom: .5rem;
		}
		.inner-page-title {
			font-size: 1.5rem; line-height: 1rem;
		}
	}
	.page-intro {
		padding-top: 2rem;
	}
	.typeset section {
		padding: 2rem 0;
	}
	.typeset section h5 + h2 {
		font-size: 2.5rem; line-height: 2.5rem;
	}
	.typeset .secret-sauce {
		margin: 0; @include border-radius(0);
		.row-boxes {
			margin-top: 1rem;
			.text-box .block-wrap {
				margin-bottom: 0; height: 120px;
				svg {
					width: 70px;
				}
			}
		}
	}
	.typeset .main-content h2 {
		font-size: 2.5rem; line-height: 2.5rem;
	}
	.typeset .easy-steps { 
		background: none;
		.easy-wrap { 
			padding-top: 2rem;
			box-shadow: none; 
			background: lighten($blue, 35%);
			h4 span.numbers { color: $deepBlue; display: block; font-weight: bold; font-size: 3rem; margin-bottom: 1rem;}
			h4 span.dots { display: none}
			div:last-child h4 { border-bottom: 0;}
			h4 { border-bottom: 1px solid $blue; padding-bottom: 1rem;
				
			}
			
			svg { display: none;}
		}
		}
	.typeset .services { 
		.text-box { margin-bottom: 1rem; border: none; border-bottom: 1px solid $gray;}
	}
	.service-intro .pull-right {
		margin: 2rem auto; display: block; float: none !important;
		max-width: 400px;
	}
}
/*XXS*/
@media (max-width: 480px) {
	.navbar .navbar-brand {
		max-width: 270px;
	}
	.btn-big {
		width: auto;
	}
	.typeset footer .email-us {
		.inline-wrap {
			display: block;
			.fa {
				margin: 1rem auto;
			}
			span {
				display: block; line-height: 1rem;
			}
		}
	}
	.typeset footer #terms .terms-links a {
		padding: 0 .5rem;
	}
	.typeset .questions .q-item {
		padding: 1rem;
	}
	.contact-details {
		font-size: 1rem;
	}
}
/*SM*/
@media (min-width: 768px) {
	header {
		.navbar {
			.container {
				width: auto;
			}
		}
	}
	.navbar .navbar-brand {
		padding: 0.5rem 1rem 1rem;
		width: 370px;
	}
	.home {
		.hero {
			height: 500px;
		}
		.services {
			margin-top: -7rem;
		}
	}
	footer {
		text-align: center;
		.col-md-5 {
			clear: both; overflow: hidden;
			.logo {
				margin: 3rem auto;
			}
		}
	}
	.page-header {
		height: 115px;
		.state-title { font-size: 2.25rem; }
		.inner-page-title { font-size: 1.25rem; }
	}
}

/*MD*/
@media (min-width: 992px) {
	header {
		.navbar {
			.container {
				width: 970px;
			}
		}
	}
	.navbar .navbar-brand {
		padding: 0.5rem 1rem 1rem;
		width: 440px;
	}
	footer {
		text-align: left;
		.col-md-5 {
			clear: none; overflow: inherit;
			.logo {
				margin: 0 0 1rem 0;
			}
		}
	}
	.page-header {
		height: 145px;
		.state-title { font-size: 3rem; }
		.inner-page-title { font-size: 1.75rem; }
	}
	.typeset .secret-sauce {
		margin: 0 -25rem;
	}
}

/*LG*/
@media (min-width: 1200px) {
	header .navbar .container {
	    width: 1170px;
	}
	.home {
		.hero {
			height: 670px;
		}
		.services {
			margin-top: -9rem;
		}
	}
	.service-intro .pull-right {
		max-width: none;
	}
}

/*LG*/
@media (min-width: 1400px) {
}